body {
    font-family: Arial, sans-serif;
    background-color: #e2d5d6;
}

.event-details {
    display: flex;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-image: url('../Images/Logo&Backgrounds/EventsBckgrd.jpg');
    background-size: cover;
    border-radius: 10px;
}

.image img {
    width: 340px;
    height: 415px;
    border-radius: 8px;
}

.details {
    margin-left: 20px;
    width: 60%;
}

.gallery {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    padding: 20px;
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.gallery-images img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 8px;
}

.gallery-images img:hover {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0); /* Initially transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.load-more-text {
    color: white;
    font-size: 1.5em;
    display: none;
}

.gallery:hover .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
}

.gallery:hover .load-more-text {
    display: block;
}

.gallery {
    cursor: pointer;
}

.event-details:hover {
    box-shadow: -10px -10px 10px #c49494;
    transition: box-shadow 0.3s ease-in;
}

/* Responsive styles for tablets and phones */
@media (max-width: 768px) {
    .event-details {
        flex-direction: column;
        width: 90%;
        padding: 15px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    }

    .image img {
        width: 100%;
        height: auto;
        margin: 0;
        border-radius: 5px;
    }

    .details {
        margin: 10px 0 0 0;
        width: 100%;
    }

    .event-details h3 {
        font-size: 1.2em;
    }

    .event-details p {
        font-size: 1em;
    }

    .gallery-images img {
        width: 120px;
        height: 80px;
    }

    .load-more-text {
        font-size: 1.3em;
    }
}

@media (max-width: 440px) {
    .event-details {
        flex-direction: column;
        width: auto;
        padding: 10px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    .image img {
        width: 70%;
        height: auto;
        margin: 0;
        margin-left: 15%;
        margin-right: 15%;
    }

    .details {
        margin: 10px 0 0 0;
        width: 100%;
        text-align: center;
    }

    .event-details h3 {
        font-size: 1.1em;
    }

    .event-details p {
        font-size: 0.9em;
    }

    .gallery-images img {
        width: 100px;
        height: 70px;
        border-radius: 5px;
    }

    .load-more-text {
        font-size: 1.1em;
    }
}
